:root {
  --font-title: 'Chela One' !important;
  --font-text: 'Rubik', sans-serif !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  font-family: var(--font-title);
}

p {
  font-family: var(--font-text)
}