.component-theme-wrapper {
    width: 100vw;
    background-color: aquamarine;
}

.component-study-plan-create {
    /* background-color: red; */
}

.component-navbar {
    display: flex;
    height: 10vh;
    overflow-y: hidden;
    width: 100vw;
    align-items: center;

    >section {
        display: flex;
        align-items: center;
        height: 50% !important;
        /* background-color: red; */
        justify-content: center;
        >* {
            height: 100% !important;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}


.component-desktop-menu {
    background-color: rgb(255, 0, 179);
}

.component-mobile-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.component-mobile-menu {
 display: flex;
 gap: 10px;
}

.component-svg-container {
    height: inherit;
}
.component-svg-container > svg {
    border-radius: 50% !important;
    height: inherit;
    background-color: transparent;

}
.component-menu {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}



