.component-theme-wrapper {
    width: 100vw;
}

.component-study-plan-create {
    display: flex;
    justify-content: center;
    align-items: center;
    >button {
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
    }
}

.component-navbar {
    display: flex;
    height: 10vh;
    position: fixed;
    top: 0;
    padding: 0px 30px;
    overflow-y: hidden;
    /* width: min(100vw, 800px); */
    align-items: center;
    width: 100vw;
    backdrop-filter: blur(1px);
    > div {
        display: flex;
        width: 350px;
        text-align: center;
        > span {
            font-size: min(40px, 8vmin);
            text-align: left;
            width: 100%;
            font-family: var(--font-title);
        }
    }
    >section {
        display: flex;
        align-items: center;
        height: 50% !important;
        justify-content: flex-end;
        /* background: red; */
        >* {
            height: 100% !important;
            align-self: center;
            display: flex;
            align-items: center;
        }
        
    }

}


.component-desktop-menu {
    background-color: rgb(255, 0, 179);
}

.component-mobile-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.component-mobile-menu {
 display: flex;
 gap: 10px;
}

.component-svg-container {
    height: inherit;
}
.component-svg-container > svg {
    border-radius: 50% !important;
    height: inherit;
    background-color: transparent;

}
.component-menu {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}



.component-landing {
    padding: 0px 8px;
    /* TODO: Make this padding */
    padding-bottom:35px;
    > h1 {
        text-align: center;
        font-weight: 100;
        /* color: var(--color-primary); */
        /* animation: bloom 5s linear infinite; */
        mix-blend-mode: hard-light;
    }
    >div {
        padding: 3px;
    }
}

@keyframes bloom {
    0%{
        text-shadow: 0px 0px 10px rgba(56, 121, 147, 0.938);
    }
    20%{
        text-shadow: 0px 0px 10px rgba(97, 127, 141, 0.627);
       
    }
    50%{
        text-shadow: 0px 0px 10px rgba(0, 195, 255, 0.627);
 
    }
    100%{
        text-shadow: 0px 0px 10px rgba(0, 183, 255, 0);
      
    }
}

.component-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: sticky;
    bottom: 0;
    padding: 5px;
    backdrop-filter: blur(3px);
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.component-landing {
    display: flex;
    gap: 9px;
    padding-top: 100px;
    flex-direction: column;
}
       
.component-landing-section {
    /* background-color: red; */
    width: min(100%, 1000px);
    margin: 0 auto;
}


.component-studyplan-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.component-study-plan {
    border-radius: 8px;
    background: rgba(2, 2, 2, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 16px;
    margin: 16px;
    width: min(500px, 100%);

    
    > h2 {
       font-size: 24px;
       margin-bottom: 3px;
     }
     >span {
        border-radius: 5px;
        padding: 5px;
        display: block;
        width: fit-content;
     }
     > p {
       font-size: 17px;
     }

}
.component-study-plan:hover {
    background-color: rgba(143, 142, 142, 0.2);
    scale: 1.01;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}
.component-form-vertical {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 5px;
    width: min(100%, 500px);
 
}

.component-profile {
    display: flex;
    flex-direction: column;
    .background-image-container {
        width: 100%;
        height: 200px;
        overflow: hidden;
        >img {
            width: 100%;
            height: auto;
        }
    }
    .profile-image-container {
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto;
    }
    .profile-details {
        text-align: center;
        > p {
            text-align: inherit;
        }
    }
}

.component-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    > div.top-component {
        display: flex;
        gap: 10px;
    }
}

.component-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.component-section {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: min(100%, 700px);
    margin: 0 auto;
}