.component-theme-wrapper {
    /* background-color: aquamarine; */
}

.component-study-plan-create {
    /* background-color: red; */
}

.component-navbar {
    /* background-color: red; */
    display: flex;
    height: 10vh;
    /* overflow-y: hidden; */
    width: 100vw;
    font-size: 12px;
    /* background-color: var(--color-rosa-palo); */
    align-items: center;
    
    /* background-color: #0cd2aad0; */
    /* background-color: #2ba08911; */

    >section {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
    }

}


.component-desktop-menu {
    background-color: rgb(255, 0, 179);

}

.component-mobile-menu {
    /* background-color: red; */
    display: flex;
    /* justify-content: space-between; */
    background-color: var(--color-primary-light);

}
/* .component-mobile-menu > * {
 height: 50%;
} */

.component-mobile-menu {
 display: flex;
}


.component-svg-container {
    height: inherit;
}
.component-svg-container > svg {
    border-radius: 50% !important;
    background-color: transparent;

}




