:root {

  --font-title: 'Chela One' !important;
  --font-text: 'Rubik', sans-serif !important;
  --font-color-dark: #e7dede;
  --font-color-light: #00131b;

  --background-dark: #00131b;
  --background-dark-soft: #021c2770;
  --background-light: #e7dede;
  
  --color-primary: rgb(205, 252, 255);
  --color-primary-light: #0e6a557e;
  --color-primary-bg: #0e6a54;
  --color-secondary: #0e566a;

  --stroke-dark: #0e566a;
  --stroke-light: #440e6a;
  --accent-color-dark: #c6c0c0;
  --accent-color-light: #00131b;
 
  --font-grotesk: 'Space Grotesk', sans-serif;
  --color-rosa-palo: #D5A59B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark;
}
body {
  overflow-x: hidden;
}
h1 {
  font-family: var(--font-title);
}


h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-grotesk);
}

p,
span,
div,
input,
select,
textarea {
  font-family: var(--font-text)
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 0;
}

button {
  padding: 5px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--font-grotesk);
  font-weight: 600;
}



.font-sm {
  font-size: 15px;
}

.font-xl {
  font-size: 25px;
}

/* Estilos para pantallas inferiores a 750px */
@media (max-width: 750px) {

  .component-desktop-menu {
    display: none;
    
  }

  .component-mobile-menu {
    display: block;
  }

}

@media (min-width: 750px) and (min-width: 1440px) {
  .component-mobile-menu {
    display: none;
  }
  
  .component-desktop-menu {
    display: block;
  }
 
}


main.page {
  min-height: 100vh;
}
/* THEME DARK */

main.page.dark {
  background-color: var(--background-dark);
  >* {
    color: var(--accent-color-dark);
  }
  input {
    background-color: transparent;
  }
  button {
    color: var(--font-color-dark);
    background-color: transparent;
  }
  button:hover {
    background-color: var(--accent-color-dark);
    color: var(--font-color-light);
  }
  
}

main.page.dark .logo >h1 {
  background-color: var(--accent-color-dark);
}
main.page.dark svg {
  stroke: var(--background-light);
  >circle {
    stroke: var(--background-light);
  }
  >path {
    stroke: var(--background-light);
  }
}

/* THEME LIGHT */
main.page.light {
 background: var(--background-light);
 >* {
  color: var(--accent-color-light);
}
input {
  background-color: transparent;
}
button {
  color: var(--font-color-light);
  background-color: transparent;
}
button:hover {
  background-color: var(--accent-color-light);
  color: var(--font-color-dark);
}





}
main.page.light svg {
  stroke: var(--background-dark);
}
main.page.light .logo >h1 {
  background-color: var(--accent-color-light);
}

svg {
  cursor: pointer;
  stroke: inherit;
  >circle {
    stroke: inherit;
  }
  >path {
    stroke: inherit;
  }
}

svg {
  height: 100% !important;
  width: 100% !important;
  animation: down 1s ease-in 0.5 backwards;
}

svg:active {
  animation: up 1s ease-in-out forwards;
}

@keyframes up {
  0%{
      transform: translateY(0px);
  }
  100%{
      transform: translateY(-500px);
  }
}

@keyframes down {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



