:root {

  --font-title: 'Chela One' !important;
  --font-text: 'Rubik', sans-serif !important;
  --font-color-dark: #e7dede;
  --font-color-light: #00131b;

  --background-dark: #00131b;
  --background-dark-soft: #021c2770;
  --background-light: #e7dede;
  
  --color-primary: rgb(205, 252, 255);
  --color-primary-light: #0e6a557e;
  --color-primary-bg: #0e6a54;
  --color-secondary: #0e566a;

  /* --stroke-dark: #0e566a;
  --stroke-light: #440e6a;
   */
  --accent-color-dark: #c6c0c0;
  --accent-color-light: #00131b;

 
  --font-grotesk: 'Space Grotesk', sans-serif;
  --default-max-width: 720px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark;
}
body {
  overflow-x: hidden;
}
h1 {
  font-family: var(--font-title);
}


h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-grotesk);
}

p,
span,
div,
input,
select,
textarea {
  font-family: var(--font-text)
}

p {
  text-align: justify;
}

input,textarea {
  padding: 5px;
  border-radius: 5px;
  border: 0;
  background-color: transparent;
}


button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--font-grotesk);
  font-weight: 600;
}


svg {
  cursor: pointer;
  stroke: inherit;
  >circle {
    stroke: inherit;
  }
  >path {
    stroke: inherit;
  }
}

svg {
  height: 100% !important;
  width: 100% !important;
  animation: down 1s ease-in 0.5 backwards;
}

svg:active {
  animation: up 1s ease-in-out forwards;
}


.font-sm {
  font-size: 15px;
}

.font-xl {
  font-size: 25px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--accent-color-light)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888836;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* Estilos para pantallas inferiores a 750px */
@media (max-width: 750px) {

  .component-desktop-menu {
    display: none;
    
  }

  .component-mobile-menu {
    display: block;
  }

}

@media (min-width: 750px) and (min-width: 1440px) {
  .component-mobile-menu {
    display: none;
  }
  
  .component-desktop-menu {
    display: block;
  }
 
}


main.page {
  min-height: 100vh;
}
/* THEME DARK */

main.page.dark {
  background-color: var(--background-dark);
  .component-study-plan > span {
    background-color: rgba(87, 82, 82, 0.457);
    mix-blend-mode: hard-light;
  }

  .component-form-vertical {
    border: 1px solid #6a6a6a43;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /* background: #00141e9b; */
    background-color: rgba(143, 142, 142, 0.2);
    >input {
      color: var(--font-color-dark);
    }

    >input::placeholder {
      color: var(--font-color-dark);
    }
    >button {
      color: var(--font-color-dark);
      /* background-color: #727171b1; */
      /* border: 0; */
    }
    }


  >* {
    color: var(--accent-color-dark);
  }
  input {
    background-color: transparent;
  }
  textarea {
    background-color: transparent;
    outline: 1px solid var(--accent-color-dark);
  }
  button {
    color: var(--font-color-dark);
    background-color: transparent;
  }
  button:hover {
    background-color: var(--accent-color-dark);
    color: var(--font-color-light);
  }
  
}

main.page.dark .logo >h1 {
  background-color: var(--accent-color-dark);
}
main.page.dark svg {
  stroke: var(--background-light);
  >circle {
    stroke: var(--background-light);
  }
  >path {
    stroke: var(--background-light);
  }
}

/* THEME LIGHT */
main.page.light {
 background: var(--background-light);
  textarea {
    outline: 0;
    border: #00131b 1px solid;
    color: var(--font-color-light);
  }

 .component-study-plan > span {
  background-color: #c6c0c0;
  mix-blend-mode: darken;
  }

 .component-form-vertical {
  background-color: var(--accent-color-dark);
  border: 1px solid #6a6a6a43;
  background: rgba(2, 2, 2, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  >input {
    color: #00131b;
  }
  >input:active, >input:focus {
    outline: 1px solid var(--accent-color-light);
    border: 0;
  }
  >input::placeholder {
    color: #00131b;
  }

  >button {
    background-color: #727171b1;
    border: 0;
  }
  }

  >* {
    color: var(--accent-color-light);
    }
  input {
    background-color: transparent;
  }
  button {
    color: var(--font-color-light);
    background-color: transparent;
  }
  button:hover {
    background-color: var(--accent-color-light);
    color: var(--font-color-dark);
}
}
main.page.light svg {
  stroke: var(--background-dark);
}
main.page.light .logo >h1 {
  background-color: var(--accent-color-light);
}












@keyframes up {
  0%{
      transform: translateY(0px);
  }
  100%{
      transform: translateY(-500px);
  }
}

@keyframes down {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



